.block__welcome {
  display: block;
  text-align: left;
  padding-top: 30px;
}

.b_welcome--title {
  display: inline-block;
  margin: 125px 0 0 0;
  color: white;
  line-height: 63px;
  font-size: 54px;
  font-weight: 900;
  z-index: 9;

  B {
    position: relative;
    z-index: 8;
    font-weight: inherit;

    &::before {
      position: absolute;
      z-index: -1;
      bottom: 10px;
      left: 0;
      right: -5px;
      content: '';
      height: 8px;
      background: #004bb5;
      background: linear-gradient( to bottom, #2569B9  0%, #004bb5 100% );
    }
  }
}

.b_welcome--text {
  display: block;
  width: 550px;
  height: 42px;
  margin: 15px 0 0 0;
  color: #a6bbd4;
  line-height: 21px;
  font-size: 14px;
  overflow: hidden;
}

.b_welcome--toolbar {
  display: inline-block;
  margin: 35px 20px 0 0;

  .button {
    margin-right: 15px;
  }
}

.b_welcome--layout{
  position: relative;
  z-index: 9;
}

.b_welcome--overlay{
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 0 0 ~"965px/165px" 0;
}

.b_welcome--img {
  position: absolute;
  top: 15%;
  left: 50%;
  display: inline-block;
}
@media (max-width: 1900px) {
  .b_welcome--overlay {
    border-radius: 0 0 ~"65%/7.5%" 0;
  }
}
@media (max-width: 1730px) {
  .b_welcome--overlay {
    border-radius: 0 0 ~"65%/11.5%" 0;
  }
}
@media (max-width: 1660px) {
  .b_welcome--overlay {
    border-radius: 0 0 ~"65%/9.5%" 0;
  }
}
@media (max-width: 1500px) {
  .b_welcome--overlay {
    border-radius: 0 0 ~"55%/9.7%" 0;
  }
}
@media (max-width: 1440px) {
  .b_welcome--overlay {
    border-radius: 0 0 ~"55%/8.2%" 0;
  }
}
@media (max-width: 1400px) {
  .b_welcome--overlay {
    border-radius: 0 0 ~"60%/7.8%" 0;
  }
}
@media ( max-width: 1280px) {
  .b_welcome--overlay {
    border-radius: 0 0 ~"55%/6%" 0;
  }
}
@media (max-width: 1140px) {
  .b_welcome--img {
    top: 15% !important;
    left: 50% !important;
  }
  .b_welcome--overlay {
    border-radius: 0 0 ~"65%/4.5%" 0;
  }
}
