BODY {
  color: black;
  line-height: 16px;
  font-size: 13px;
}
.title {
  color: black;
  line-height: 16px;
  font-size: 13px;
}
.text {
  color: black;
  line-height: 16px;
  font-size: 13px;
}
.btn {
  color: black;
  line-height: 16px;
  font-size: 13px;
}
