.block__solution {
  display: block;
}
.b_solution--list {
  display: flex;
  justify-content: space-around;
  margin: 60px auto;
}
.b_solution--item {
  position: relative;
  display: block;
  width: 33.3%;
  max-width: 365px;
  padding: 45px 30px;
  background-color: #FFFFFF;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.b_solution--title {
  display: block;
  margin-bottom: 50px;
}
.b_solution--text {
  position: relative;
  z-index: 5;
  display: block;
  margin-top: 50px;
}
.b_solution--img {
  position: absolute;
  z-index: 4;
  bottom: 30px;
  right: 25px;
  display: block;
}
