.block__social {
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
}
.b_social--title {
  display: block;
  color: white;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-family: "Poppins-Bold", sans-serif;
}
.b_social--list {
  display: block;
  margin-top: 15px;
  text-align: right;
}
.b_social--item {
  display: inline-block;
  margin-left: 12px;
}
.b_social--link {
  display: block;
  height: 16px;
}
.b_social--ico {
  display: block;
  height: 16px;
  width: auto;
}
