.block__form {
  display: block;
}
.b_form--wrapper {
  display: block;
  font-size: 0;
}
.b_form--layout {
  display: inline-block;
  width: 50%;
}
.b_form--title {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FC7753;
}
.b_form--row {
  display: block;
}
.b_form--label {
  display: block;
}
.b_form--input {
  display: block;
}
.b_form--textarea {
  display: block;
}
.b_form--button {
  display: block;
}
