@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirk-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cH1v4okm5zmbvwkAx_sfcEuiD8j4PKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cH1v4okm5zmbvwkAx_sfcEuiD8jjPKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cH1v4okm5zmbvwkAx_sfcEuiD8jYPWcPg.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  vertical-align: top;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
b,
strong {
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
}
HTML {
  display: block;
}
BODY {
  display: block;
  font-size: 62.5%;
  line-height: 1.2rem;
  font-family: 'Exo 2', sans-serif;
}
BODY .none,
BODY .hidden {
  display: none !important;
}
A {
  cursor: pointer;
}
.wrapper {
  display: block;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.title {
  display: block;
  color: #333333;
  line-height: 50px;
  font-size: 44px;
  font-weight: bold;
  font-style: normal;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  letter-spacing: -0.76px;
}
.text {
  display: block;
  margin: 15px auto;
  color: #787878;
  line-height: 25px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-white {
  color: white;
}
.btn {
  display: inline-block;
  min-width: 150px;
  min-height: 50px;
  padding: 15px;
  color: white;
  line-height: 20px;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #52A662;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.btn.btn-sm {
  min-height: 38px;
  padding: 15px;
}
.btn.btn-border {
  color: #03A57B;
  background-color: transparent;
  border: 2px solid #03A57B;
}
.btn.btn-white {
  color: white;
  border-color: white;
}
.is-blinked {
  position: relative;
  overflow: hidden !important;
}
.is-blinked:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, hsla(0, 0%, 100%, 0.1)), color-stop(20%, hsla(0, 0%, 100%, 0.2)), to(hsla(0, 0%, 100%, 0.6)));
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0.1) 10%, hsla(0, 0%, 100%, 0.2) 20%, hsla(0, 0%, 100%, 0.6));
  width: 20px;
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  left: -20%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes blink {
  15%,
  to {
    left: 110%;
  }
}
@keyframes blink {
  15%,
  to {
    left: 110%;
  }
}
.i-enter {
  background-image: url("../img/_svg/icon_enter.svg");
}
.clearFix:after {
  display: block;
  content: '';
  clear: both;
}
.block__header {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}
.block__header .wrapper {
  position: relative;
}
@media all and (min-width: 1024px) {
  .block__header .block__menu .b_menu--link {
    color: white;
  }
  .block__header.__fixed {
    position: fixed;
    z-index: 77;
  }
  .block__header.__fixed .block__lang {
    display: none;
  }
  .block__header.__fixed .b_header--overlay {
    display: block;
  }
  .block__header.__fixed .b_header--overlay.__down {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .block__header.__fixed .b_header--layout {
    margin: 0 auto;
  }
  .block__header.__fixed .b_header--layout .block__menu .b_menu--link {
    color: #333;
  }
  .block__header.__fixed .b_header--link.__logo {
    position: absolute;
    top: -8px;
    left: 0;
    display: inline-block;
  }
  .block__header.__fixed .b_header--button {
    display: inline-block;
    position: absolute;
    top: -9px;
    right: 0;
    padding: 7px;
    line-height: 20px;
  }
  .b_header--overlay {
    display: block;
    padding: 9px 0;
  }
  .b_header--overlay.__top {
    display: none;
    background: rgba(82, 166, 98, 0.9);
  }
  .b_header--overlay.__down {
    padding: 20px 0;
  }
  .b_header--layout {
    display: block;
    margin-top: 100px;
  }
  .b_header--button {
    display: inline-block;
  }
  .b_header--link {
    display: inline-block;
    color: white;
    line-height: 18px;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.04px;
  }
  .b_header--link.__logo {
    display: none;
  }
  .b_header--link.__ico {
    float: right;
    text-decoration: underline;
  }
  .b_header--link.__ico I {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .b_header--img {
    display: inline-block;
  }
  .b_header--button {
    display: none;
  }
  .b_header--burger {
    display: none;
  }
}
@media all and (max-width: 1023px) {
  .block__header {
    position: fixed;
    display: block;
    z-index: 33;
  }
  .block__header .block__lang {
    display: none;
  }
  .block__header.__active .b_header--layout {
    left: 0;
  }
  .block__header .b_header--overlay {
    display: block;
  }
  .block__header .b_header--overlay.__top {
    display: none;
  }
  .block__header .b_header--overlay.__down {
    background: rgba(255, 255, 255, 0.9);
    height: 60px;
  }
  .block__header .b_header--overlay.__down .wrapper {
    position: inherit;
    padding: 0;
    height: 100%;
  }
  .block__header .b_header--link.__logo {
    position: absolute;
    z-index: 44;
    top: 10px;
    left: 15px;
  }
  .block__header .b_header--layout {
    position: fixed;
    z-index: 33;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.4s linear;
  }
  .block__header .b_header--button {
    display: none;
  }
  .block__header .b_header--burger {
    position: absolute;
    z-index: 44;
    top: 12px;
    right: 15px;
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url("../img/_svg/burger.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
}
.block__lang {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  color: white;
  line-height: 19px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05px;
}
.b_lang--img {
  position: relative;
  top: 3px;
  display: inline-block;
  margin-right: 5px;
}
.b_lang--button {
  display: inline-block;
  color: white;
  line-height: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.b_lang--button.__active {
  font-weight: bold;
}
@media all and (min-width: 1024px) {
  .block__menu {
    display: block;
  }
  .b_menu--list {
    display: block;
    text-align: center;
  }
  .b_menu--item {
    display: inline-block;
    margin: 0 5px;
  }
  .b_menu--link {
    display: inline-block;
    padding: 0 5px;
    color: #1D1D1B;
    line-height: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.4px;
  }
  .b_menu--link.__active {
    font-weight: bold;
  }
  .b_menu--link:hover {
    text-decoration: underline;
  }
}
@media all and (max-width: 1023px) {
  .block__menu {
    display: block;
  }
  .b_menu--list {
    position: relative;
    top: 60px;
    display: block;
    text-align: left;
    border-top: 1px solid #52A662;
  }
  .b_menu--item {
    display: block;
    margin: 5px 0;
    border-bottom: 1px solid #52A662;
  }
  .b_menu--link {
    display: block;
    padding: 5px 15px;
    color: #52A662;
    line-height: 30px;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.4px;
  }
  .b_menu--link.__active {
    font-weight: bold;
  }
  .b_menu--link:hover {
    text-decoration: underline;
  }
}
.block__social {
  display: block;
}
.b_social--list {
  display: block;
}
.b_social--item {
  display: inline-block;
  margin: 0 5px;
  text-align: center;
}
.b_social--link {
  display: block;
  margin: 0 auto;
  width: 18px;
  height: 18px;
}
.b_social--ico {
  display: inline-block;
}
.block__page {
  display: block;
}
.b_page--item {
  position: relative;
  display: block;
  padding-top: 99px;
  padding-bottom: 99px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.b_page--item#welcome {
  height: 100vh;
  min-height: 800px;
  background-image: url("../img/welcome/bg/bg_welcome_ru.png");
}
.b_page--item#welcome .wrapper {
  height: 100%;
  width: 100%;
}
.b_page--item#solutions {
  background-image: url("../img/common/bg-contacts.png");
  background-color: #F9F9F9;
  background-size: 62%;
  z-index: 9;
}
.b_page--item#platforms {
  position: relative;
  z-index: 11;
  background-color: #52A662;
  padding: 0;
  overflow: hidden;
}
.b_page--item#platforms:after,
.b_page--item#platforms:before {
  position: absolute;
  content: '';
  top: -80px;
  display: block;
  width: 100%;
  height: 80px;
}
.b_page--item#platforms:after {
  background: linear-gradient(to top left, #52A662 50%, rgba(255, 0, 0, 0) 51%);
  transform-origin: right;
}
.b_page--item#platforms:before {
  background: linear-gradient(to top right, #6EC77F 50%, rgba(255, 0, 0, 0) 51%);
  transform-origin: right;
}
.b_page--item#news {
  background-image: url("../img/news/bg/news_background.png");
}
.b_page--item#brands {
  position: relative;
  background-color: #52A662;
}
.b_page--item#brands:after,
.b_page--item#brands:before {
  position: absolute;
  content: '';
  bottom: -80px;
  display: block;
  width: 100%;
  height: 80px;
}
.b_page--item#brands:after {
  background: linear-gradient(to bottom right, #52A662 50%, rgba(255, 0, 0, 0) 51%);
  transform-origin: right;
}
.b_page--item#brands:before {
  background: linear-gradient(to bottom left, #6EC77F 50%, rgba(255, 0, 0, 0) 51%);
  transform-origin: right;
}
.block__welcome {
  display: block;
  width: 100%;
  height: 100%;
}
.b_welcome--wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}
.b_welcome--img {
  display: block;
  margin: 0 auto;
  width: 240px;
  height: auto;
}
.b_welcome--text {
  display: inline-block;
  width: 100%;
  max-width: 840px;
  margin: 60px auto 0 auto;
  color: white;
  line-height: 20px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.b_welcome--button {
  display: block;
  width: 270px;
  margin: 60px auto 0 auto;
}
.block__product {
  display: block;
}
.block__product .text {
  max-width: 630px;
  font-size: 17px;
}
.block__carousel {
  display: block;
  min-height: 475px;
  margin: 60px auto 0 auto;
}
.b_carousel--overlay {
  display: block;
}
.b_carousel--actions {
  position: relative;
  display: block;
}
.b_carousel--button {
  position: absolute;
  z-index: 5;
  top: 210px;
  display: inline-block;
  width: 64px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.b_carousel--button.__prev {
  left: -2.5%;
  background-color: #2B2B2B;
  background-image: url("../img/_svg/arrow_left.svg");
}
.b_carousel--button.__next {
  right: -2.5%;
  background-color: #52A662;
  background-image: url("../img/_svg/arrow_right.svg");
}
.b_carousel--design {
  display: block;
  position: absolute;
  top: auto;
}
.b_carousel--design.__left {
  left: 0;
}
.b_carousel--design.__right {
  right: 0;
}
.b_carousel--wrapper {
  display: block;
}
.b_carousel--item {
  display: block;
  width: 100%;
}
.block__slide {
  display: block;
}
.b_slide--overlay {
  position: relative;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 950px;
  min-height: 476px;
  margin: 0 auto;
  padding: 80px 50px 80px 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.b_slide--body {
  display: block;
}
.b_slide--title {
  display: block;
  color: white;
  line-height: 40px;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
}
.b_slide--text {
  display: block;
  margin-top: 25px;
  color: white;
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
}
.b_slide--footer {
  display: block;
  width: 100%;
  margin-top: 30px;
}
.b_slide--button {
  display: inline-block;
  margin-right: 30px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 45px;
  padding-right: 45px;
  min-width: 200px;
}
.b_slide--button.__icon {
  position: relative;
  padding-left: 50px;
  padding-right: 5px;
  margin-right: 0;
  text-align: right;
  min-width: 200px;
  background-color: transparent;
  border: none;
  float: right;
}
.b_slide--button.__icon I {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 15px;
  border: 3px solid white;
  border-radius: 50%;
  background-image: url("../img/_svg/play.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.block__solution {
  display: block;
}
.b_solution--list {
  display: flex;
  justify-content: space-around;
  margin: 60px auto;
}
.b_solution--list.__duo .b_solution--item {
  width: 48%;
  max-width: 512px;
}
.b_solution--list.__duo .b_solution--item .b_solution--title BR {
  display: none;
}
.b_solution--item {
  position: relative;
  display: block;
  width: 33.3%;
  max-width: 365px;
  padding: 45px 30px;
  background-color: #FFFFFF;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.b_solution--title {
  display: block;
  margin-bottom: 50px;
  color: #52A662;
  line-height: 32px;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.6px;
}
.b_solution--text {
  position: relative;
  z-index: 5;
  display: block;
  margin-top: 50px;
  color: #333;
  line-height: 25px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.5;
}
.b_solution--img {
  position: absolute;
  z-index: 4;
  bottom: 30px;
  right: 25px;
  display: block;
}
.block__platform {
  position: relative;
  display: block;
  padding: 100px 0 40px 0;
}
.block__platform .title {
  margin: 10px 0;
}
.block__platform .text {
  margin: 30px 0;
  width: 100%;
  max-width: 540px;
}
.b_platform--decor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.b_platform--list {
  display: block;
  margin-top: 40px;
}
.b_platform--item {
  position: relative;
  display: block;
  margin-bottom: 60px;
  padding-left: 60px;
  width: 100%;
  max-width: 470px;
  counter-increment: myCounter;
}
.b_platform--item::before {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  content: counter(myCounter);
  display: inline-block;
  width: 38px;
  height: 38px;
  padding: 10px 0;
  color: white;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
}
.b_platform--text {
  display: block;
  color: white;
  line-height: 24px;
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
.b_platform--mockup {
  position: absolute;
  z-index: 7;
  right: 25px;
  bottom: 0;
  display: block;
}
.b_platform--logo {
  position: absolute;
  z-index: 5;
  display: block;
  opacity: 0.1;
}
.b_platform--logo.__first {
  top: 70px;
  right: -270px;
  animation: Orbita 12s linear infinite;
}
.b_platform--logo.__second {
  top: 215px;
  right: 530px;
  animation: Orbita2 12s linear infinite;
}
@keyframes Orbita {
  from {
    -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(15px) rotate(-360deg);
  }
}
@keyframes Orbita2 {
  from {
    -webkit-transform: scale(0.65) rotate(0deg) translateX(15px) rotate(0deg);
  }
  to {
    -webkit-transform: scale(0.65) rotate(-360deg) translateX(15px) rotate(360deg);
  }
}
.block__use {
  display: block;
}
.block__use .title {
  margin-bottom: 60px;
}
.b_use--overlay {
  display: inline-block;
}
.b_use--overlay.__left {
  width: 60%;
  max-width: 590px;
  float: left;
}
.b_use--overlay.__right {
  width: 40%;
  max-width: 460px;
  float: right;
}
.block__patent {
  display: block;
  width: 100%;
}
.b_patent--list {
  display: block;
  margin-top: 15px;
}
.b_patent--item {
  display: block;
  margin-bottom: 25px;
}
.b_patent--text {
  display: block;
  color: #333;
  line-height: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.5;
}
.block__license {
  display: block;
  width: 100%;
}
.b_license--wrapper {
  display: block;
}
.b_license--item {
  display: block;
}
.b_license--title {
  display: block;
  margin-bottom: 10px;
  padding-top: 15px;
  color: #333;
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.b_license--text {
  display: block;
  margin-bottom: 25px;
  width: 200px;
  color: #333;
  line-height: 22px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.5;
}
.b_license--link {
  display: block;
  padding-left: 20px;
  color: #51A662;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-family: 'Exo 2', sans-serif;
  text-decoration-line: underline;
  background-image: url("../img/_svg/ico_file.svg");
  background-repeat: no-repeat;
  background-position: center left;
}
.b_license--link:hover {
  text-decoration: none;
}
.b_license--img {
  display: block;
  float: right;
  margin-right: 80px;
}
.bock__news {
  display: block;
}
.b_news--header {
  display: block;
  margin: 20px 0;
  color: #03A57B;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.b_news--list {
  display: block;
  margin: 50px 0 100px 0;
}
.b_news--item {
  position: relative;
  display: block;
  font-size: 0;
}
.b_news--title {
  display: inline-block;
  width: 50%;
  color: #333;
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
  font-style: normal;
  font-family: 'Exo 2', sans-serif;
}
.b_news--text {
  display: inline-block;
  width: 50%;
  color: #333;
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.5;
}
.b_news--button {
  display: block;
  position: absolute;
  left: 0;
  bottom: -99px;
}
.block__brand {
  display: block;
  font-size: 0;
}
.block__brand .owl-dots {
  display: flex;
  align-content: center;
  justify-content: center;
}
.block__brand .owl-dots .owl-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 2px;
  background: white;
  opacity: 0.2;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.block__brand .owl-dots .owl-dot.active {
  margin: 0;
  width: 10px;
  height: 10px;
  opacity: 1;
}
.b_brand--list {
  display: block;
  margin-top: 70px;
  text-align: center;
}
.b_brand--item {
  display: inline-block;
  width: 190px;
}
.b_brand--layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin: 0 20px;
  padding: 0 20px;
}
.b_brand--img {
  display: block;
  max-width: 140px;
  max-height: 80px;
  object-fit: contain;
}
.block__feedback {
  display: block;
}
.block__feedback .text {
  margin-bottom: 50px;
}
.b_feedback--overlay {
  display: block;
  width: 49%;
  margin: 30px 0;
}
.b_feedback--overlay.__form {
  float: left;
}
.b_feedback--overlay.__map {
  float: right;
}
.block__form {
  display: block;
  font-size: 0;
}
.b_form--row {
  display: flex;
  justify-content: space-between;
}
.b_form--row .b_form--label {
  display: inline-block;
  width: 48%;
}
.b_form--label {
  display: block;
  margin-bottom: 20px;
  background-color: rgba(235, 235, 235, 0.61);
  border-radius: 4px;
}
.b_form--input {
  display: block;
  width: 100%;
  min-height: 50px;
  line-height: 50px;
  margin: 0;
  opacity: 0.4;
  padding: 15px 20px;
  color: #333;
  line-height: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.15px;
  background: transparent;
}
.b_form--input:active {
  outline: #52A662;
}
.b_form--input:active,
.b_form--input:focus,
.b_form--input:valid {
  opacity: 1;
}
.b_form--textarea {
  display: block;
  width: 100%;
  min-height: 100px;
  opacity: 0.4;
  padding: 15px 20px;
  color: #333;
  line-height: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.15px;
  background: transparent;
}
.b_form--textarea:active {
  outline: #52A662;
}
.b_form--textarea:active,
.b_form--textarea:focus,
.b_form--textarea:valid {
  opacity: 1;
}
.b_form--notify {
  position: relative;
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  color: #333;
  line-height: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid transparent;
  border-radius: 5px;
  opacity: 0.6;
  cursor: pointer;
}
.b_form--notify A {
  display: block;
  color: #52A662;
  text-decoration: underline;
}
.b_form--notify.__blink {
  animation: form__notify 1.25s linear;
}
@-webkit-keyframes form__notify {
  from {
    border-color: #f00;
  }
  to {
    border-color: #fff;
  }
}
@keyframes form__notify {
  from {
    border-color: #f00;
  }
  to {
    border-color: #fff;
  }
}
.b_form--checkbox {
  position: absolute;
  top: 5px;
  left: 0;
  display: inline-block;
  cursor: pointer;
}
.b_form--checkbox:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 15px;
  background-image: none;
  background-color: #52A662;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}
.b_form--checkbox:checked:after {
  background-image: url("../img/_svg/checkbox_checked.svg");
}
.b_form--button {
  display: block;
  width: 235px;
}
.block__map {
  display: block;
}
.b_map--frame {
  display: block;
  width: 100%;
  height: 240px;
  margin-bottom: 20px;
}
.b_map--text {
  display: block;
  margin-top: 30px;
  color: #333;
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.6;
}
.b_map--text A {
  color: inherit;
  text-decoration: none;
}
.block__footer {
  position: relative;
  display: block;
  margin-top: 80px;
  padding: 50px 0;
  background: #EDEDED;
}
.block__footer .wrapper {
  position: relative;
}
.block__footer:before {
  position: absolute;
  content: '';
  background: linear-gradient(to top left, #EDEDED 50%, rgba(255, 0, 0, 0) 51%);
  top: -80px;
  display: block;
  width: 100%;
  height: 80px;
  transform-origin: right;
}
.b_footer--logo {
  position: absolute;
  top: -8px;
  left: 0;
  display: inline-block;
}
.b_footer--overlay {
  display: inline-block;
}
.b_footer--overlay.__center {
  display: block;
  margin: 0 auto;
}
.b_footer--overlay.__right {
  position: absolute;
  top: 0;
  right: 0;
}
.block__alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
}
.block__alert.__active {
  position: fixed;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
}
.b_alert--window {
  position: fixed;
  z-index: 777;
  top: 50%;
  left: 50%;
  width: 360px;
  max-width: 90%;
  padding: 10px 25px;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(3, 165, 123, 0.95);
  border: 1px solid white;
  border-radius: 7px;
}
.b_alert--closer {
  position: relative;
  top: -5px;
  right: -20px;
  color: #52A662;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  width: 24px;
  height: 24px;
  float: right;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.b_alert--text {
  display: block;
  color: white;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  font-style: normal;
}
@media screen and (max-width: 1280px) {
  BODY .wrapper {
    padding: 0 15px;
  }
  .block__lang {
    right: 15px;
  }
  .block__carousel .b_carousel--button.__prev {
    left: 0;
  }
  .block__carousel .b_carousel--button.__next {
    right: 0;
  }
  .block__solutions .b_solution--item {
    width: 30%;
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .block__page .b_page--item {
    z-index: 1;
    padding-top: 75px;
    padding-bottom: 55px;
  }
  .block__page .b_page--item#welcome {
    min-height: 100%;
    padding-top: 10px;
  }
  .block__page .b_page--item#platforms:after {
    top: -40px;
    height: 40px;
  }
  .block__page .b_page--item#platforms:before {
    top: -40px;
    height: 40px;
  }
  .block__page .b_page--item#brands:after {
    bottom: -40px;
    height: 40px;
  }
  .block__page .b_page--item#brands:before {
    bottom: -40px;
    height: 40px;
  }
  .block__carousel {
    margin: 30px auto 0 auto;
  }
  .block__use .title {
    margin-bottom: 30px;
  }
  .block__solutions .b_solution--list {
    flex-direction: column;
    margin: 30px auto;
  }
  .block__solutions .b_solution--list.__duo .b_solution--item {
    width: 100%;
    max-width: 100%;
  }
  .block__solutions .b_solution--item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .block__solutions .b_solution--title {
    margin-bottom: 15px;
  }
  .block__solutions .b_solution--title BR {
    display: none;
  }
  .block__solutions .b_solution--text {
    margin-top: 15px;
  }
  .block__solutions .b_solution--img {
    height: 99px;
    width: auto;
  }
  .block__use .b_use--overlay {
    float: none;
    width: 100%;
    max-width: 100%;
  }
  .block__license .b_license--img {
    float: left;
    margin-right: 20px;
  }
  .block__license .b_license--text {
    width: 100%;
    margin-bottom: 15px;
  }
  .block__license .b_license--link {
    display: inline-block;
  }
  .block__news .b_news--header {
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 21px;
  }
  .block__news .b_news--title {
    width: 100%;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
  }
  .block__news .b_news--text {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
  .block__news .b_news--button {
    position: relative;
    bottom: auto;
    top: 20px;
    margin: 0 auto;
    max-width: 256px;
  }
  .block__footer:before {
    top: -40px;
    height: 40px;
  }
}
@media screen and (max-width: 940px) {
  .block__platform .b_platform--mockup {
    height: 300px;
    width: auto;
  }
  .block__feedback .b_feedback--overlay {
    width: 100%;
    float: none;
  }
  .block__feedback .b_feedback--overlay.__map {
    margin-bottom: 0;
  }
  .block__slide .b_slide--overlay {
    min-height: 512px;
  }
  .block__slide .b_slide--button.__icon {
    float: none;
    margin-top: 10px;
  }
  .block__form .b_form--notify {
    text-align: center;
    font-size: 13px;
    line-height: 18px;
  }
  .block__form .b_form--button {
    width: 250px;
    margin: 0 auto;
  }
  .block__form .b_form--checkbox {
    position: relative;
    top: 2px;
    left: -5px;
  }
  .block__footer {
    margin-top: 10px;
  }
  .block__footer .block__menu {
    display: none;
  }
  .block__footer .b_footer--logo {
    position: relative;
    top: 0;
    display: block;
    margin: 0 auto;
  }
  .block__footer .b_footer--overlay {
    position: relative;
  }
  .block__footer .b_footer--overlay.__center {
    display: none;
  }
  .block__footer .b_footer--overlay.__right {
    display: block;
    margin: 20px auto 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 720px) {
  BODY .block__page .title {
    font-size: 28px;
    line-height: 35px;
  }
  BODY .block__page .text {
    font-size: 14px;
    line-height: 20px;
  }
  BODY .block__page .title,
  BODY .block__page .text {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .block__page .b_page--item#solutions {
    background-size: contain;
  }
  .block__welcome .b_welcome--text {
    line-height: 20px;
    font-size: 14px;
  }
  .block__carousel .b_carousel--button {
    width: 36px;
    height: 36px;
    background-size: 50%;
    opacity: 0.4;
  }
  .block__carousel .b_carousel--button.__prev {
    left: -9px;
  }
  .block__carousel .b_carousel--button.__next {
    right: -9px;
  }
  .block__slide .b_slide--overlay {
    padding: 35px 25px 35px 30px;
  }
  .block__slide .b_slide--title {
    line-height: 22px;
    font-size: 18px;
  }
  .block__slide .b_slide--title BR {
    display: none;
  }
  .block__slide .b_slide--text {
    line-height: 20px;
    font-size: 13px;
  }
  .block__slide .b_slide--button {
    margin: 10px 0;
    width: 100%;
  }
  .block__slide .b_slide--button.__icon {
    padding-left: 80px;
    text-align: left;
  }
  .block__solutions .b_solution--title {
    line-height: 26px;
    font-size: 22px;
  }
  .block__solutions .b_solution--text {
    line-height: 20px;
    font-size: 14px;
  }
  .block__platform .b_platform--mockup {
    display: none;
  }
  .block__platform .b_platform--logo.__first {
    right: -10%;
  }
  .block__platform .b_platform--logo.__second {
    left: -10%;
  }
  .block__feedback .text {
    margin: 10px 0;
  }
  .block__feedback .b_feedback--overlay.__form {
    margin: 10px 0;
  }
  .block__form .b_form--row {
    flex-direction: column;
  }
  .block__form .b_form--label {
    width: 100%;
    margin-bottom: 15px;
  }
  .block__form .b_form--notify {
    padding-left: 0;
    margin: 15px 0;
  }
  .block__form .b_form--input {
    padding: 5px 20px;
    min-height: 40px;
    line-height: 30px;
    font-size: 13px;
  }
  .block__form .b_form--textarea {
    min-height: 50px;
    font-size: 13px;
  }
  .block__form .b_form--button {
    min-height: 36px;
    padding: 8px 0;
  }
}
@media screen and (max-width: 480px) {
  .block__platform .b_platform--logo.__first {
    display: none;
  }
  .block__brand .b_brand--item {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .block__brand .b_brand--layout {
    width: 200px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=styles.css.map */