
.block__heart {
    position: absolute;
    top: 495px;
    left: 30px;
    width: 465px;
    height: 445px;
    background-image: url("../../img/heart.svg");
}
.block__heart * {
    display: block;
}

.b_heart--text {
    padding-left: 25px;
    margin: 145px auto 0 auto;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
}

.b_heart--text .bold{
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
}

.b_heart--text .red {
    padding-left: 15px;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    text-transform: uppercase;
    color: red;
}
